body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  font-family: Georgia;
  padding: 5px;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
}

body[data-running] {
  align-items: center;
  cursor: none;
}

body[data-showcursor] {
  cursor: pointer!important;
}

body[data-running] #setup {
  display: none;
}

textarea {
  width: 100%;
  height: 200px;
  font-family: sans-serif;
}

h1 {
  font-weight: normal;
  margin-bottom: 50px;
  text-align: center;
  font-size: 26px;
}

h1 span {
  border-bottom: 1px solid rgba(134, 134, 134, .3);
}

main {
  max-width: 400px;
  width: 100%;
}

body:not([data-running]) main {
  display: flex;
  flex-direction: column;
}

#output {
  font-size: 26px;
  margin: auto;
  padding: 10px 0;
  max-width: inherit;
  width: 100%;
}

#output #word {
  hyphens: auto;
  max-width: inherit;
  text-align: center;
  flex: 1.2;
  word-spacing: 1px;
  /* letter-spacing: 0.1px; */
}

#status {
  background: #b9dbf6;
  height: 3px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

body[data-skin=blackonwhite] {
  background: white;
  color: black;
}

body[data-skin=blackonwhite] #output {
  color: black;
}

body[data-skin=blackoncream] {
  background: #fffced;
  color: black;
}

body[data-skin=blackoncream] #output {
  color: black;
}

body[data-skin=whiteonblack] {
  color: white;
  background: black;
}

body[data-skin=whiteonblack] #output {
  color: white;
}

body[data-skin=yellowonblack] {
  color: white;
  background: black;
}

body[data-skin=yellowonblack] #output {
  color: white;
}

#tutorial {
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 13px;
  opacity: 0.7;
}

#setup {
  cursor: initial;
}
