body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Georgia;
  padding: 5px;
}

body.running {
  cursor: none;
}

body.running #setup {
  display: none;
}

textarea {
  width: 100%;
  height: 200px;
  font-family: sans-serif;
}

h1 {
  font-weight: normal;
  margin-bottom: 50px;
  text-align: center;
  font-size: 26px;
}
h1 span {
  border-bottom: 1px solid rgba(134, 134, 134,.3);
}

main {
  max-width: 400px;
  width: 100%;
}

#output {
  font-size: 26px;
  text-align: center;
  margin: auto;
  padding: 5px 10px;
}

#status {
  background: #b9dbf6;
  height: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

body[data-skin=blackonwhite] {
  background: white;
  color: black;
}

body[data-skin=blackonwhite] #output {
  color: black;
}

body[data-skin=blackoncream] {
  background: #fffced;
  color: black;
}

body[data-skin=blackoncream] #output {
  color: black;
}

body[data-skin=whiteonblack] {
  color: white;
  background: black;
}

body[data-skin=whiteonblack] #output {
  color: white;
}

body[data-skin=yellowonblack] {
  color: white;
  background: black;
}

body[data-skin=yellowonblack] #output {
  color: white;
}
