body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fffced;
  background: #fac58e;
  font-family: Georgia;
  color: white;
  background: black;
}

body.running {
  cursor: none;
}

body.running #setup {
  display: none;
}

textarea {
  width: 100%;
  height: 200px;
  font-family: sans-serif;
}

#output {
  /* background: #fffced; */
  font-size: 26px;
  text-align: center;
  margin: auto;
  padding: 5px 10px;
  max-width: 400px;
  width: 100%;
  color: #ffef5b;
}

#status {
  background: #b9dbf6;
  height: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

body[data-skin=blackonwhite] {
  background: white;
  color: black;
}

body[data-skin=blackonwhite] #output {
  color: black;
}

body[data-skin=blackoncream] {
  background: #fffced;
  color: black;
}

body[data-skin=blackoncream] #output {
  color: black;
}

body[data-skin=whiteonblack] {
  background: black;
}

body[data-skin=whiteonblack] #output {
  color: white;
}
